h1 {
    color: orange;
    text-align: center;
}

table {
    border-collapse: collapse;
}

table, th, td {
   border: 1px solid black;
}

div.div_table_scrollable {
  display: block;
  height: 250px;
  overflow-y: scroll;
}

th.score_high {
	background-color: green;
}

th.score_low {
	background-color: red;
}

tr.tr_identified {
	font-weight: bold;
}

